.home {
  position: relative;
  background: url("../img/home-bg.png") no-repeat center top;
  background-size: cover;
  z-index: 1;
  padding: 202px 0 0;
  text-align: center;
}
.home::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 535px;
  width: 100%;
  height: 1258px;
  background: url("../img/home-overlay.png") no-repeat center;
  background-size: 100%;
}
.home h3 {
  font-family: "MarlinoRegularPersonalUse", sans-serif;
  color: #fefeff;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: 1.2px;
  max-width: 1050px;
  margin: 0 auto;
}
.home .btn {
  margin: 69px auto 0;
}
.home .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-price {
  margin: 60px auto;
  font-size: 42.5px;
  line-height: 1;
  position: relative;
  z-index: 1;
}
.home-price::after {
  content: "";
  width: 973px;
  height: 273px;
  background: url("../img/home-figure.png") no-repeat center;
  background-size: 100%;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.home-image {
  margin: 0 auto -670px;
  z-index: -2;
}
.home-image img {
  width: 100%;
}

.about {
  position: relative;
  z-index: -1;
  padding: 820px 0 111px;
  margin: -350px 0 0;
}
.about::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1580px;
  background: url("../img/bg2.png") no-repeat center;
  background-size: 100%;
  z-index: -1;
}
.about .box-text {
  text-align: center;
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
}

.programm h2 {
  max-width: 430px;
  margin: 0 auto 114px;
}

.programm-card {
  margin: 0 0 50px;
  text-align: center;
  width: 405px;
  height: auto;
  position: relative;
  padding: 212px 30px 47px;
  border-radius: 27px;
}
.programm-card__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
  border-radius: 27px;
}
.programm-card__img img {
  border-radius: 27px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.programm-card h3 {
  font-family: "Circe", sans-serif;
  font-weight: bold;
  font-size: 30.5px;
  padding: 10px;
  margin: 0 auto 45px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.programm-card h3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../img/border-gradient.png") no-repeat center;
  background-size: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 551px;
  height: 368px;
  z-index: -1;
}
.programm-card .box-text {
  font-size: 30px;
  color: #fefeff;
  line-height: 1.1;
}

.text-description {
  margin: 60px auto 0;
  max-width: 1190px;
  width: 100%;
  text-align: center;
  line-height: 1.16;
}

.stages-learn {
  margin: 111px 0 107px;
  position: relative;
  z-index: 1;
}
.stages-learn::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 0;
  width: 100%;
  height: 2066px;
  background: url("../img/learn-bg.png") no-repeat center;
  background-size: cover;
  z-index: -1;
}
.stages-learn h2 {
  margin: 0 auto 112px;
  max-width: 650px;
}
.stages-learn h4 {
  margin: 37px auto 0;
  line-height: 1.28;
  letter-spacing: 0.2px;
  font-size: 39px;
  text-align: center;
  text-transform: uppercase;
  font-family: "MarlinoRegularPersonalUse", sans-serif;
}

.stages-learn-card {
  max-width: 1010px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 70px;
}
.stages-learn-card:last-child {
  margin: 0;
}
.stages-learn-card__icon {
  width: 101px;
  height: 163px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stages-learn-card__icon img {
  max-width: none;
  width: 191px;
  height: 253px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.stages-learn-card__body {
  padding: 0 0 0 52px;
  width: calc(100% - 101px);
}
.stages-learn-card h3 {
  text-align: left;
  margin: 0 0 10px;
  font-size: 82px;
  line-height: 1;
}
.stages-learn-card h3 span {
  font-size: 84px;
  line-height: 0.1;
  display: inline-block;
  font-family: "Evagrande", sans-serif;
}
.stages-learn-card .box-text {
  line-height: 1.16;
}

.author {
  padding: 628px 0 0;
  position: relative;
  z-index: -1;
  margin: -628px 0 0;
}
.author h2 {
  max-width: 760px;
  margin: 0 auto 87px;
}
.author .box-text {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  text-align: center;
}
.author h3 {
  text-transform: uppercase;
  margin: 100px auto 0;
  font-weight: bold;
  line-height: 1.38;
  text-align: center;
  max-width: 1270px;
  width: 100%;
}

.author-photo {
  position: relative;
  z-index: -1;
  height: 937px;
  width: 1030px;
  margin: -100px auto 180px;
}
.author-photo img {
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  width: 1920px;
}

.stages {
  margin: 108px 0 0;
}
.stages h2 {
  margin: 0 auto 107px;
  max-width: 860px;
}
.stages h3 {
  text-align: center;
  margin: 0 auto 114px;
  font-weight: bold;
  line-height: 1.38;
  max-width: 560px;
}
.stages .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stages-box {
  position: relative;
  text-align: center;
  margin: 0 0 160px;
}
.stages-box:nth-child(2) {
  margin: 0 83px 160px 120px;
}
.stages-box:nth-child(2)::after, .stages-box:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 327px;
  height: 2px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d4ab3c), color-stop(#ffe6b0), to(#d29940));
  background-image: linear-gradient(to top, #d4ab3c, #ffe6b0, #d29940);
  right: -160px;
  top: 140px;
}
.stages-box:nth-child(2)::before {
  right: auto;
  left: -160px;
}
.stages-box .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 28px auto 19px;
  width: 50px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#d49d3c), color-stop(#ffe0b0), to(#d28c40));
  background: linear-gradient(to right, #d49d3c, #ffe0b0, #d28c40);
  color: #000;
  font-size: 30.5px;
  font-weight: bold;
  line-height: 1.2;
}
.stages-box__icon {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stages-box__icon img {
  max-height: 100%;
}

.bonus-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 55px 48px 54px 52px;
  position: relative;
  z-index: 1;
}
.bonus-box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1409px;
  height: 268px;
  background: url("../img/bonus-border.png") no-repeat center;
  background-size: 100%;
  z-index: -1;
}
.bonus-box h3 {
  margin: 0;
  font-size: 57px;
  line-height: 1.21;
  letter-spacing: 0.29px;
  font-weight: normal;
}
.bonus-box h4 {
  font-size: 29px;
  color: #fefeff;
  font-weight: normal;
  text-transform: uppercase;
}

.callback-section {
  margin: 116px 0;
}

.callback {
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
  min-height: 410px;
}

.social {
  text-align: center;
}
.social h2 {
  font-weight: bold;
  font-size: 55px;
  font-family: "Circe", sans-serif;
  margin: 0 auto 20px;
}

.list-social {
  margin: 65px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.list-social li {
  margin: 0 37px 0 0;
}
.list-social li:last-child {
  margin: 0;
}
.list-social li a {
  width: 85px;
  height: 85px;
  background: -webkit-gradient(linear, left top, right top, from(#d49d3c), color-stop(#ffe0b0), to(#d28c40));
  background: linear-gradient(to right, #d49d3c, #ffe0b0, #d28c40);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-social li a:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#d49d3c), color-stop(#ffe0b0), to(#d28c40));
  background: linear-gradient(to top, #d49d3c, #ffe0b0, #d28c40);
}