/*==========	Desktop First	==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1350px)
	.stages-box
		margin: 0 0 100px
		&:nth-child(2)
			margin: 0 50px 100px 80px
			&::before, &::after
				width: 240px
			&::before
				left: -100px
			&:after
				right: -100px

	.bonus-box
		padding: 55px 10px 54px
		max-width: 1100px
		margin: 0 auto 0
		h4
			font-size: 25px
		&::before
			width: 1200px

@media only screen and (max-width: 1250px)
	.programm
		.wrapper
			justify-content: space-around

@media only screen and (max-width: 1200px)
	header
		padding: 45px 0

	.home
		padding: 272px 0 0
		&::before
			top: 350px
		h3
			font-size: 43px
			max-width: 670px
		.btn
			margin: 67px auto 0

	.home-image
		margin: 0 auto -530px

	h1
		max-width: 670px
		font-size: 113.5px

	h2
		letter-spacing: 0

	.home-price
		font-size: 36px
		&::after
			width: 900px
			height: 155px

	.bonus-box
		max-width: 732px
		padding: 80px 10px
		text-align: center
		flex-direction: column
		align-items: center
		.btn
			margin: 0 auto
		h4
			font-size: 35px
			margin: 58px auto 65px
			max-width: 510px
			line-height: 1.13
		&::before
			background: url('../img/bonus-border-768.png') no-repeat center
			background-size: 100%
			width: 732px
			height: 550px
		h3
			margin: 0 auto

	.stages
		.wrapper
			flex-direction: column
			align-items: center

	.stages-box
		margin: 0 auto 100px
		.box-text
			font-size: 29px
		&:nth-child(2)
			margin: 0 auto 100px
			&::before, &::after
				display: none
		&:last-child
			margin: 0 auto 50px

	.callback-section
		margin: 136px auto 175px

@media only screen and (max-width: 992px)
	.home
		&::before
			top: 100px

	.home-image
		margin: 0 0 -400px

	.programm-card
		margin: 0 0 56px

	.text-description
		max-width: 681px

@media only screen and (max-width: 768px)
	.d-tablet
		display: block

	.home
		padding: 170px 0 0
		background: url('../img/home-bg-768.png') no-repeat center top
		background-size: 100%
		&::before
			display: none

	.home-image
		width: calc(100% + 30px)
		margin: 0 -15px -1100px
		img
			display: none
		.d-tablet
			display: block

	.home-price::after
		width: 828px
		height: 138px

	.about
		margin: -130px 0 0
		padding: 655px 0 108px
		&::before
			background: url('../img/bg2-768.jpg') no-repeat center
			background-size: 100%
			height: 910px
		.box-text
			max-width: 662px
			margin: 0 auto

	.stages-learn
		margin: 114px 0
		&::before
			background: url('../img/learn-bg-768.png') no-repeat center
			background-size: 100%
			height: 2066px
		h4
			margin: 24px auto 0
			max-width: 700px

	.stages-learn-card
		max-width: 690px
		margin: 0 auto 88px
		.box-text
			br
				display: none
		&__icon
			img
				width: 208px
				height: 280px

	.author
		padding: 0
		margin: 0
		h2
			max-width: 640px
			br
				display: none
		.box-text
			max-width: 648px
		h3
			max-width: 650px
			font-size: 30.5px

	.author-photo
		height: 800px
		margin: -350px auto 350px
		img
			width: calc(100% + 30px)
			display: none
		.d-tablet
			display: block

	.stages
		margin: 116px 0 0
		h2
			margin: 0 auto 115px
			max-width: 670px
		h3
			margin: 0 auto 106px

	.bonus-box
		h3
			margin: 0 auto

	.social
		.box-text
			max-width: 560px
			margin: 0 auto

	.list-social
		margin: 60px auto 0

	footer
		padding: 172px 0 90px
		&::before
			background: url('../img/footer-bg-768.jpg') no-repeat center bottom
			background-size: 100%
			height: 1673px

	.copyright
		max-width: 650px
		margin: 0 auto

@media only screen and (max-width: 700px)
	h1
		font-size: 90px
		max-width: 620px

	.home-image
		margin: 0 -15px -900px

	.home-price
		font-size: 30px
		margin: 40px auto 50px
		&:after
			width: 720px
			height: 115px

	.author-photo
		margin: -350px auto 250px

@media only screen and (max-width: 576px)
	body
		line-height: 1.15
		font-size: 20px

	h1
		font-size: 71px
		max-width: 420px

	h2
		font-size: 30px

	.btn
		font-size: 12.5px
		letter-spacing: 0.12px
		height: 43px
		padding: 10px 25px

	header
		padding: 32px 0

	.logo
		max-width: 173px

	.home
		padding: 100px 0 0
		h3
			font-size: 26.5px
			max-width: 420px
			line-height: 1.26
			letter-spacing: 0.66px
		.btn
			margin: 40px auto 0

	.home-price
		font-size: 22.5px
		&:after
			width: 510px
			height: 80px

	.home-image
		margin: 0 -15px -830px

	.about
		padding: 505px 0 67px
		margin: 0
		.box-text
			max-width: 414px
		&::before
			// background: url('../img/bg2-576.jpg') no-repeat center
			// background-size: 100%
			height: 623px

	.programm
		h2
			margin: 0 auto 72px
			max-width: 270px

	.programm-card
		margin: 0 auto 30px
		height: auto
		width: 253px
		padding: 133px 20px 30px
		h3
			font-size: 19px
			width: 100%
			height: 99px
			margin: 0 auto 28px
			&::before
				width: 350px
				height: 120px
		.box-text
			font-size: 19px
			line-height: 1.08

	.text-description
		margin: 40px auto 0
		max-width: 426px
		line-height: inherit

	.stages-learn
		margin: 70px 0
		&::before
			height: 1291px
		h2
			margin: 0 auto 70px
			max-width: 400px
		h4
			margin: 15px auto 0
			font-size: 24.5px
			max-width: 440px

	.stages-learn-card
		margin: 0 auto 55px
		align-items: flex-start
		max-width: 435px
		&__icon
			width: 63px
			height: 102px
			img
				width: calc(100% + 40px)
				height: calc(100% + 40px)
		&__body
			padding: 0 0 0 32px
			width: calc(100% - 63px)
		h3
			font-size: 51.5px
			margin: 0 0 10px
			span
				font-size: 52.5px
		.box-text
			line-height: inherit

	.author
		h2
			margin: 0 auto 45px
			max-width: 395px
		.box-text
			max-width: 400px
		h3
			margin: 62px auto 0
			font-size: 19px
			max-width: 405px

	.author-photo
		margin: -350px auto 200px

	.stages
		margin: 72px 0 0
		h2
			margin: 0 auto 70px
			max-width: 405px
		h3
			margin: 0 auto 66px
			font-size: 20px

	.stages-box
		font-size: 18px
		margin: 0 auto 60px
		&:nth-child(2)
			margin: 0 auto 60px
		&__icon
			width: 63px
			height: 63px
		.number
			margin: 17px auto 12px
			width: 32px
			height: 32px
			font-size: 19px
		.box-text
			font-size: 18px
			line-height: 1.14

	.bonus-box
		max-width: 400px
		padding: 43px 20px 45px
		h3
			margin: 0 auto
			font-size: 45.5px
			line-height: 1.22
			letter-spacing: 0.23px
		h4
			margin: 36px auto 40px
			font-size: 21.5px
			max-width: 318px
		&::before
			width: 457px
			height: 340px

	.callback-section
		margin: 114px auto 109px

	.callback
		min-height: 270px
		max-width: 265px

	.social
		h2
			font-size: 34.5px
			max-width: 370px
		.box-text
			font-size: 20.5px
			max-width: 336px

	.list-social
		margin: 35px auto 0
		li
			margin: 0 23px 0 0
			a
				width: 54px
				height: 54px
				padding: 12px

	footer
		padding: 106px 0 56px
		&::before
			// background: url('../img/footer-bg-576.jpg') no-repeat center bottom
			// background-size: 100%
			height: 1046px

	.copyright
		max-width: 406px
		font-size: 15px

@media only screen and (max-width: 480px)
	.home-image
		margin: 0 -15px -680px

@media only screen and (max-width: 440px)
	h1
		font-size: 63.5px
		max-width: 380px

	h2
		font-size: 27px

	body
		font-size: 18px
		line-height: 1.14

	.box-text
		p
			margin: 0 0 20px
			&:last-child
				margin: 0

	.btn
		border-radius: 18.7px
		height: 39px
		font-size: 11px
		padding: 0 23px
		letter-spacing: 0.11px

	.logo
		max-width: 155px

	header
		padding: 29px 0

	.home
		h3
			font-size: 24px
			line-height: 1.25
			letter-spacing: 0.6px
			max-width: 370px
		.btn
			margin: 36px auto 0

	.home-price
		margin: 22px auto 30px
		font-size: 20px
		&:after
			width: 455px
			height: 70px

	.home-image
		margin: 0 -15px -600px

	.about
		padding: 356px 0 60px
		.box-text
			max-width: 372px
		&::before
			height: 500px

	.programm
		h2
			margin: 0 auto 64px

	.programm-card
		width: 226px
		margin: 0 auto 27px
		padding: 119px 17px 27px
		.box-text
			font-size: 17px
			line-height: 1.09
		h3
			line-height: 1.12
			font-size: 17px
			margin: 0 auto 25px
			height: 89px
			&::before
				width: 295px
				height: 103px

	.text-description
		margin: 34px auto 0
		max-width: 380px
		br
			display: none

	.stages-learn
		margin: 64px 0
		h2
			margin: 0 auto 60px
		h4
			margin: 16px auto 0
			font-size: 22px
			max-width: 400px

	.stages-learn-card
		margin: 0 0 46px
		&__icon
			width: 56px
			height: 91px
		&__body
			width: calc(100% - 51px)
			padding: 0 0 0 29px
		h3
			font-size: 46px
			span
				font-size: 47px

	.author
		h2
			max-width: 360px
			margin: 0 auto
		.box-text
			max-width: 357px
		h3
			margin: 56px auto 0
			font-size: 18px
			max-width: 357px

	.author-photo
		margin: -300px auto 20px

	.stages
		margin: 64px 0 0
		h2
			max-width: 367px
			margin: 0 auto 63px
		h3
			margin: 0 auto 59px
			font-size: 18px

	.stages-box
		margin: 0 auto 55px
		font-size: 16px
		&:nth-child(2)
			margin: 0 auto 55px
		&__icon
			width: 56px
			height: 56px
		.number
			margin: 16px auto 11px
			width: 29px
			height: 29px
			font-size: 17px

	.bonus-box
		width: 358px
		padding: 38px 10px 40px
		&::before
			width: 390px
			height: 300px
		h3
			font-size: 41px
			margin: 0 auto
		h4
			margin: 33px auto 35px
			font-size: 19.5px
			max-width: 300px
			line-height: 1.13

	.callback-section
		margin: 100px 0

	.callback
		max-width: 238px
		min-height: 230px

	.social
		h2
			font-size: 31px

	.list-social
		margin: 32px 0 0
		li
			margin: 0 20px 0 0
			a
				width: 48px
				height: 48px

	footer
		padding: 95px 0 50px

	.copyright
		font-size: 13.5px
		max-width: 365px

@media only screen and (max-width: 400px)
	h1
		font-size: 47.5px
		max-width: 280px

	h2
		font-size: 20px

	body
		font-size: 13.5px
		line-height: 1.15

	.btn
		font-size: 8px
		padding: 0 17px
		border-radius: 13.9px
		height: 29px

	.logo
		max-width: 115px

	.box-text
		p
			margin: 0 0 15px
			&:last-child
				margin: 0

	header
		padding: 29px 0

	.home
		padding: 60px 0 0
		h3
			line-height: 1.25
			letter-spacing: 0.45px
			max-width: 280px
			font-size: 18px
		.btn
			margin: 27px auto 0

	.home-image
		margin: 0 -15px -550px

	.home-price
		line-height: 0.43
		font-size: 15px
		margin: 16px auto 22px
		&::after
			width: 340px

	.about
		padding: 355px 0 44px
		.box-text
			max-width: 276px
		&::before
			height: 550px

	.programm
		h2
			margin: 0 auto 48px
			max-width: 180px

	.stages-learn
		margin: 47px 0
		h4
			margin: 6px auto 0
			max-width: 300px
			font-size: 16.5px
		h2
			margin: 0 auto 46px
			max-width: 315px
		&::before
				background: url('../img/learn-bg-320.png') no-repeat center
				background-size: 100%
				height: 1292px

	.stages-learn-card
		margin: 0 auto 40px
		max-width: 295px
		&__icon
			width: 42px
			height: 68px
		&__body
			width: calc(100% - 42px)
			padding: 0 0 0 22px
		h3
			font-size: 34.5px
			span
				font-size: 35px

	.author
		h2
			max-width: 265px
		.box-text
			max-width: 270px
		h3
			margin: 40px auto 0
			font-size: 12.5px
			max-width: 275px

	.author-photo
		margin: -300px auto 0

	.stages
		margin: 47px 0 0
		h2
			margin: 0 auto 47px
			max-width: 275px
		h3
			margin: 0 auto 44px
			font-size: 13.5px

	.stages-box
		margin: 0 auto 40px
		&:nth-child(2)
			margin: 0 auto 40px
		.box-text
			font-size: 12px
		&__icon
			width: 37px
			height: 37px
		.number
			margin: 13px auto 8px
			width: 21px
			height: 21px
			font-size: 12.5px

	.bonus-box
		margin: 0 auto
		padding: 30px 10px
		&::before
			width: 318px
			height: 260px
		h3
			font-size: 30.5px
			line-height: 1.21
			letter-spacing: 0.15px
			margin: 0 auto
		h4
			margin: 23px auto 26px
			font-size: 14.5px
			max-width: 215px

	.callback-section
		margin: 75px 0

	.callback
		min-height: 170px
		max-width: 177px

	.social
		h2
			font-size: 23px
			max-width: 235px
		.box-text
			font-size: 14px
			max-width: 230px

	.list-social
		margin: 24px 0 0
		li
			margin: 0 15px 0 0
			a
				width: 36px
				height: 36px
				padding: 11px 8px

	footer
		padding: 70px 0 37px

	.copyright
		font-size: 10px
		max-width: 270px
						
@media only screen and (max-width: 370px)
	.home-image
		margin: 0 -15px -500px

@media only screen and (max-width: 340px)
	.home-image
		margin: 0 -15px -450px

	.about
		padding: 265px 0 44px
		&:before
			height: 355px

	.programm-card
		width: 169px
		margin: 0 auto 20px
		padding: 89px 14px 20px
		h3
			line-height: 1.16
			font-size: 12.5px
			width: 142px
			height: 66px
			&::before
				width: 233px
				height: 81px
		.box-text
			font-size: 12.5px

	.text-description
		margin: 27px auto 0
		max-width: 285px

	.author-photo
		margin: -300px auto -70px
